altgraph==0.17.5
colorama==0.4.6
ifaddr==0.2.0
packaging==26.2
PyJWT[crypto]==2.15.1
cryptography==50.0.1
pefile==2024.8.26
pillow==12.3.0
qrcode==8.2
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pywin32-ctypes==0.2.3
setuptools==83.0.0
yt-dlp==2026.7.4
zeroconf==0.151.5
